/* .allPage{
  background-color: var(--main-bg-color);
} */

.login-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 2px var(--main-color);
  background-color: #fff;

  h2 {
    color: var(--main-color);
  }
  label {
    color: var(--main-color);
  }
  a {
    color: var(--main-color);
    text-decoration: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    &:hover {
      color: var(--hover-main-color);
    }
  }
  .d-grid {
    button {
      background-color: var(--main-color);
      border: none;
      outline: none;
      transition: var(--transition);
      -webkit-transition: var(--transition);
      -moz-transition: var(--transition);
      -ms-transition: var(--transition);
      -o-transition: var(--transition);
      &:hover {
        background-color: var(--hover-main-color);
      }
    }
  }
}
