.splash {
  background-color: var(--main-bg-color);
  overflow: hidden;
}
.fade_in {
  opacity: 0;
  transform: translateY(30px);
  animation: slideUp 1s ease-out forwards;
  font-size: 2rem;
  font-weight: bold;
  -webkit-animation: slideUp 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}